@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './iconfont.css';
@import '../../static/dist/css/layui.css';
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

div:focus{
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

//main-container全局样式
.app-main{
  height: 100vh;
  overflow: hidden;
}

.app-container {
  padding: 0 20px;
  height: calc(100vh - 120px)!important;
  overflow-y: auto;
  overflow-x: hidden;
}

//搜索栏样式
.filter-container {

}

//操作栏样式
.operate-container {
  margin-top: 20px;
}

.operate-container .btn-add {
  float: right;
}

//表格栏样式
// .table-container {
// }

//批量操作栏样式
.batch-operate-container {
  display: inline-block;
  margin-top: 20px;
}

//分页栏样式
.pagination-container {
  display: inline-block;
  float:right;
  margin-top: 20px;
}

//添加、更新表单样式
.form-box {
  margin: 20px;
}

//主标题
.font-extra-large {
  font-size: 20px;
  color: #303133;
}

//标题
.font-title-large {
  font-size: 18px;
  color: #303133;
}

//小标题
.font-title-medium {
  font-size: 16px;
  color: #303133;
}

//正文
.font-medium {
  font-size: 16px;
  color: #606266;
}

//正文
.font-small {
  font-size: 14px;
  color: #606266;
}

//正文（小）
.font-extra-small {
  font-size: 13px;
  color: #606266;
}

.color-main {
  color: #409EFF;
}

.color-success {
  color: #67C23A;
}

.color-warning {
  color: #E6A23C;
}

.color-danger {
  color: #F56C6C;
}

.color-info {
  color: #909399;
}
.button{
  width: 80px;
  margin: 0 30px;
}
.el-dialog{
  border-radius: 10px;
}
.el-date-editor .el-range-separator{
  padding: 0;
}
.el-vue-amap-container{
  height: 300px;
}
.el-textarea__inner,.el-input__count-inner{
  line-height: 30px;
}
.disabled .el-upload--picture-card {
  display: none;
}
.table-item{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#el-drawer__title {
  background-color: #F5F5F5;
  color: #72767b;
  padding:  10px;
  margin: 0;
}
.el-transfer__buttons .el-button {
  display: block;
  margin: 10px 0;
  border-radius: 50%;
}
.flex{
  display: flex;
  display: -webkit-flex;
}
.flex-center{
  display: flex;
  display: -webkit-flex;
  align-items: center;
}
.flex-wrap{
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-between;
}
.el-dialog__body{
  padding: 10px 20px!important;
}
.form-pdf{
  position: relative;
   width: 768px;
  height: 1093px;
   text-align: left;
}
.form-pdf .pageNum{
  position:absolute;
  font-size: 14px;
  right: 20px;
  color:#666;
  bottom: 10px;
}